@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  position: relative;

  .content {
    white-space: nowrap;
    animation: marquee infinite linear;
    animation-play-state: running;
  }

  .gradient {
    position: absolute;
    height: 100%;
    top: 0;
  }

  .leftGradient {
    left: 0;
    background: linear-gradient(90deg, white, transparent);
  }

  .rightGradient {
    right: 0;
    background: linear-gradient(270deg, white, transparent);
  }
}

// Hover 停止
.pauseOnHover:hover {
  .content {
    animation-play-state: paused;
  }
}

// 从右向左
.rtl {
  flex-direction: row-reverse;
  justify-content: flex-end;

  .content {
    animation-direction: reverse;
  }
}
