.app {
  width: 100%;

  h1 {
    color: #2e353b;
    text-align: center;
    font-size: 5em;
    font-style: italic;
  }

  p {
    font-size: 2em;
    text-align: center;
  }

  h2 {
    margin-top: 48px;
    margin-bottom: 0;
    text-align: center;
    color: #757e8f;
    font-size: 2em;
  }
}

.marquee {
  width: 80%;
  margin: 0 auto;
}

.imageList {
  padding: 16px 0;
  display: flex;

  img {
    height: 64px;
    margin-right: 32px;
    border-radius: 6px;
  }
}

.textList {
  padding: 16px 0;
  display: flex;

  .textItem {
    font-size: 3em;
    margin-right: 56px;
    margin-bottom: 0;
    font-weight: bold;

    &:nth-child(even) {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
